@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700;800&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.header {
    background: url(../images/header.jpg) top center no-repeat;
    background-size: auto;
    min-height: 769px;
    display: flex;
    flex-basis: 1438px;
    flex-shrink: 1;
    flex-direction: column;
      &__top {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 23px;
        margin-top: 40px;
    }
    &__medium-top {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 317px;
    }
    &__medium-top h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 60px;
        font-weight: 500;
        line-height: 58.31px;
        letter-spacing: 3.90937px;
        color: #FFFFFF;
        margin: 0;
    }
    &__medium-bottom {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    &__medium-bottom p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        color: #FFFFFF;
        margin: 0;
    }
    &__bottom {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 221px;
    }
    &__bottom li {
        list-style-type: none;
    }
    &__bottom li a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 14.98px;
        color: #FFFFFF;
        margin: 0;
        letter-spacing: 3.7px;
        transition: all .2s;
    }
    &__bottom li a:hover {
        color: #ffffff7c;
    }
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 1440px;
    height: 65px;
    flex-shrink: 1;
    &__logo {
        align-items: center;
    }
    &__logo button {
        background: url(../images/logo2.svg) center no-repeat;
        border: none;
        width: 79.53px;
        height: 18px;
    }
}
.nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 410.5px;
}
.nav nav li {
    list-style-type: none;
}
.nav nav li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.09091px;
    color: #48555B;
    transition: all .2s;
}
.nav nav li a:hover {
    color: #00A4E5;;
}
.container {
    margin-top: 57px;
    &__title {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 23px;
    }
    &__title h5 {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 2.30625px;
        color: #48555B;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        margin: 0;
    }
    &__line-box {
        display: grid;
        justify-content: center;
        align-items: center;
        height:24px;
    }
    &__line {
        width: 50px;
        height: 2px;
        border-top: 3px solid #00A4E5;
    }
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1438px;
    margin-top: 69px;
}
.box__content-left {
    display: flex;
    flex-direction: column;
    width: 405.08px;
    height: 100%;
}

.box__top h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    letter-spacing: 0.1875px;
    color: #48555B;
    margin: 0 0 25px 0;
}
#konstruct { color: #00A4E5; }
.box__bottom p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
    color: #48555B;
    margin: 0 0 0 0;
}
.box__content-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 462px;
    height: 100%;
    padding-left: 79.92px;
    box-sizing: content-box;
}
.box__item1 {
    width: 140px;
    height: 224px;
    background: url(../images/pic/pic01.png) center no-repeat;
    &-text h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 800;
        line-height: 29px;
        letter-spacing: 0.19px;
        color: #FFFFFF;
        margin: 0;
        padding: 15px 0px 0px 14px;
    }
}
.box__item2 {
    width: 140px;
    height: 224px;
    background: url(../images/pic/pic02.png) center no-repeat;
    &-text h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 800;
        line-height: 29px;
        letter-spacing: 0.19px;
        color: #FFFFFF;
        margin: 0;
        padding: 15px 0px 0px 14px;
    }
}
.box__item3 {
    width: 140px;
    height: 224px;
    background: url(../images/pic/pic03.png) center no-repeat;
    &-text h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 800;
        line-height: 29px;
        letter-spacing: 0.19px;
        color: #FFFFFF;
        margin: 0;
        padding: 15px 0px 0px 14px;
    }
}
.box-container2 {
    margin-top: 119px;
    display: flex;
    justify-content: center;
    height: 65px;
    flex-shrink: 1;
}
.container2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 938px;
    height: 100%;
}
.item1 h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.51px;
    letter-spacing: 1.30625px;
    display: flex;
    align-items: flex-end;
    color: #48555B;
    margin: 0px 0px 10px 0px;
    
}
.item1__line {
    width: 50px;
    height: 2px;
    border-top: 3px solid #00A4E5;
}
.item2 {
    max-width: 405.4px;
}
.item2 p {
    margin: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #48555B;
}
.item3 {
   align-items: center;
}
.item3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    user-select: none;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
    padding: 0.8em 2.3em;
    outline: none;
    transition: all .2s;
}
.item3:hover {
    background: #09b9ff;
}
.item3:active {
    background: #0581b3;
}
.flex__container3 {
    margin: 118px 0px 0px 0px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.i02 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #48555b;
}
.i03 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.19px;
    color: #48555b;
}
.box_flex {
    width: 940px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-item1, &-item2, &-item3 {
        padding-left: 23px;
        width: 295px;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &-item1_01icon {
        background-image: url(../images/icon/icon01.png);
        width: 65.62px;
        height: 75px;
    }
    &-item2_01icon {
    background-image: url(../images/icon/icon02.png);
        width: 67.74px;
        height: 75px;
    }
    &-item3_01icon {
    background-image: url(../images/icon/icon03.png);
        width: 70.59px;
        height: 75px;
    }
    &-item1_02title, &-item2_02title, &-item3_02title {
        font-family: 'Open Sans', sans-serif;
    }
}
.box-container4 {
    background: url(../images/footer.jpg) top center no-repeat;
    background-size: auto;
    min-height: 769px;
    display: flex;
    flex-basis: 1440px;
    flex-shrink: 1;
    justify-content: center;
    margin-top: 115px;
}
.box__content2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 147px;
    width: 350px;
    text-align: center;
  
}
.box__content2 h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555b;
}

// font-family: 'Bebas Neue', cursive;
// font-family: 'Open Sans', sans-serif;