@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700;800&display=swap");
body {
  max-width: 1440px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.header {
  background: url(../images/header.jpg) center no-repeat;
  background-size: auto;
  height: 769px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1438px;
      flex-basis: 1438px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__top {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23px;
  margin-top: 40px;
}

.header__medium-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 317px;
}

.header__medium-top h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  font-weight: 500;
  line-height: 58.31px;
  letter-spacing: 3.90937px;
  color: #FFFFFF;
  margin: 0;
}

.header__medium-bottom {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__medium-bottom p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.header__bottom {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 221px;
}

.header__bottom li {
  list-style-type: none;
}

.header__bottom li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  color: #FFFFFF;
  margin: 0;
  letter-spacing: 3.7px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__bottom li a:hover {
  color: #ffffff7c;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 1440px;
      flex-basis: 1440px;
  height: 65px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo button {
  background: url(../images/logo2.svg) center no-repeat;
  border: none;
  width: 79.53px;
  height: 18px;
}

.nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 410.5px;
}

.nav nav li {
  list-style-type: none;
}

.nav nav li a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 1.09091px;
  color: #48555B;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav nav li a:hover {
  color: #00A4E5;
}

.container {
  margin-top: 57px;
}

.container__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 23px;
}

.container__title h5 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2.30625px;
  color: #48555B;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.container__line-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
}

.container__line {
  width: 50px;
  height: 2px;
  border-top: 3px solid #00A4E5;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1438px;
  margin-top: 69px;
}

.box__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 405.08px;
  height: 100%;
}

.box__top h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  letter-spacing: 0.1875px;
  color: #48555B;
  margin: 0 0 25px 0;
}

#konstruct {
  color: #00A4E5;
}

.box__bottom p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #48555B;
  margin: 0 0 0 0;
}

.box__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 462px;
  height: 100%;
  padding-left: 79.92px;
}

.box__item1 {
  width: 140px;
  height: 224px;
  background: url(../images/pic/pic01.png) center no-repeat;
}

.box__item1-text h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.19px;
  color: #FFFFFF;
  margin: 0;
  padding: 15px 0px 0px 14px;
}

.box__item2 {
  width: 140px;
  height: 224px;
  background: url(../images/pic/pic02.png) center no-repeat;
}

.box__item2-text h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.19px;
  color: #FFFFFF;
  margin: 0;
  padding: 15px 0px 0px 14px;
}

.box__item3 {
  width: 140px;
  height: 224px;
  background: url(../images/pic/pic03.png) center no-repeat;
}

.box__item3-text h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.19px;
  color: #FFFFFF;
  margin: 0;
  padding: 15px 0px 0px 14px;
}

.box-container2 {
  margin-top: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 938px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item1 h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  letter-spacing: 1.30625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #48555B;
  margin: 0px 0px 10px 0px;
}

.item1__line {
  width: 50px;
  height: 2px;
  border-top: 3px solid #00A4E5;
}

.item2 {
  max-width: 405.4px;
}

.item2 p {
  margin: 0 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #48555B;
}

.item3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: #00A4E5;
  padding: 0.8em 2.3em;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.item3:hover {
  background: #09b9ff;
}

.item3:active {
  background: #0581b3;
}
/*# sourceMappingURL=style.css.map */